{% extends layout %}

{% set pageTitle = 'Home' %}

{% block content %}
	<div class="container">
		<section>
			<h1>{{ pageTitle }}</h1>
			<p>Index page test text.</p>
		</section>
	</div>
{% endblock %}